#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 8em;
  margin-left: 15px;
  will-change: filter;
  transition: filter 300ms;
}

.logo.excel {
  height: 8em;
  margin-left: 0px;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #202bff8a);
}
.logo.excel:hover {
  filter: drop-shadow(0 0 2em #49ff9baa);
}


@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 1em;
  margin-bottom: 70px;
}

.read-the-docs {
  color: #888;
}
